@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Mulish&display=swap");

/* Reset das propriedades */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 100%;
    background: #FFFFFF;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 600px;
}

.img-logo {
    height: 130px;
}

.navbar {
    display: flex;
    gap: 32px;
}

nav a {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
}

a:hover {
    color: #1F1534;
    opacity: 1;
}

.principal-content {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-top: 0px;
    padding: 60px;
    gap: 10px;
}

.pricipal-content-texts {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 25px;
    color: #000000;
    mix-blend-mode: normal;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

h3 {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
}

.principal-content-buttom {
    background: #458FF6;
    height: 56px;
    width: 200px;
    left: 190px;
    top: 564px;
    border-radius: 55px;
    border: none;
    font-weight: 100px;
    font-size: 18px;
    color: #FFFFFF;
}

.principal-content-buttom:hover {
    background-color: #67C3F3;
}

.pricipal-content-img {
    height: 598px;
    width: 693px;
    left: 744px;
    border-radius: 0px;
}

.line-end {
    display: flex;
    border-top: 2px solid #000000;
    opacity: 0.5;
    width: 56px;
}

.our-services {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    background-image: url("./img/Vector.png");
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: 0% 30%;
}

.our-services-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    font-family: 'Mulish';
    color: #000000;
    mix-blend-mode: normal;
}

#our-services-texts-title {
    font-weight: 700;
    padding: auto;
    font-size: 36px;
    line-height: 56px;
}

#our-services-texts-title2 {
    width: 952px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

#our-services-content {
    background-image: url("./img/element.png");
    background-repeat: no-repeat;
    background-size: 5 1px;
    background-position: right;
}

.our-services-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
    padding: 50px;
}

.our-services-grid div {
    gap: 80px;
    padding: 50px;
    background: #FFFFFF;
    height: 354px;
    width: 350px;
    left: 1010px;
    top: 1224px;
    /* drop shadow */
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}

img+h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    color: #000000;
}

div p {
    color: #7D7987;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
}

img[src^="./img/services-"] {
    border-image-width: auto;
}

.our-services-buttom {
    margin-bottom: 100px;
    box-sizing: border-box;
    width: 200px;
    border: 1.5px solid #458FF6;
    border-radius: 55px;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: #458FF6;
}

.our-services-buttom:hover {
    background-color: #67C3F3;
    color: #FFFFFF;
}

.leading-healthcare-providers {
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 1273px;
    height: 477px;
}

.leading-healthcare-img {
    width: 650px;
}

.leading-healthcare {
    display: flex;
    padding: 140px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    font-family: 'Mulish';
    color: #000000;
    mix-blend-mode: normal;
}

.donwload-our {
    display: flex;
    padding: 140px;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    font-family: 'Mulish';
    color: #000000;
    mix-blend-mode: normal;
}

.donwload-our-texts {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    width: 1273px;
    height: 477px;
}